/* Fly-in effect for the image */
@keyframes flyin {
    from {
        transform: translateX(100%); /* Start from the right outside of the screen */
        opacity: 0;
    }
    to {
        transform: translateX(0); /* End at its original position */
        opacity: 1;
    }
}

.animate-flyin {
    animation: flyin 1.5s ease-out;
}

/* Typing effect for the text */
@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.animate-type {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid; /* Adjust thickness here */
    animation: typing 3s steps(40) 1s forwards, blink 0.75s step-end infinite;
}

/* Blink effect for typing cursor */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
.shadow-custom {
    box-shadow: 0px 0px 60px 2px rgba(255, 223, 0, 0.6);
}
/* Home.css */
.nav-link {
    position: relative;
    text-decoration: none; /* Remove default underline */
    color: white; /* Default text color */
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px; /* Adjust as needed */
    height: 2px; /* Thickness of the underline */
    background-color: yellow; /* Color of the underline */
    transform: scaleX(0); /* Initially hide the underline */
    transition: transform 0.3s ease; /* Animation for the underline */
}

.nav-link:hover::after,
.nav-link.active::after {
    transform: scaleX(1); /* Show the underline on hover or when active */
}

.cube-container {
    width: 90px; 
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .content {
    --s: 200px; 
    display: grid;
    transform-style: preserve-3d;
    --_p: perspective(calc(2.5 * var(--s)));
    animation: r 9s infinite cubic-bezier(.5,-0.5,.5,1.5);
  }
  .content img {
    grid-area: 1/1;
    width: var(--s);
    aspect-ratio: 1;
    border: 2px solid black;
    border-radius: 10px;
    object-fit: cover;
    transform: var(--_t, ) translateZ(calc(var(--s)/2));
  }
  .content img:nth-child(2) {--_t: rotateX(-90deg)}
  .content img:nth-child(3) {--_t: rotateY(90deg) rotate(-90deg)}
  .content img:nth-child(4) {--_t: rotateX(180deg) rotate(90deg)}
  .content img:nth-child(5) {--_t: rotateX(90deg) rotate(90deg)}
  .content img:nth-child(6) {--_t: rotateY(-90deg)}
  
  @keyframes r {
    0%,3%   {transform: var(--_p)}
    14%,19% {transform: var(--_p) rotateX(90deg)}
    31%,36% {transform: var(--_p) rotateX(90deg) rotateZ(90deg)}
    47%,52% {transform: var(--_p) rotateX(90deg) rotateZ(90deg) rotateY(-90deg)}
    64%,69% {transform: var(--_p) rotateX(90deg) rotateZ(90deg) rotateY(-90deg) rotateX(90deg)}
    81%,86% {transform: var(--_p) rotateX(90deg) rotateZ(90deg) rotateY(-90deg) rotateX(90deg) rotateZ(90deg)}
    97%,100%{transform: var(--_p) rotateX(90deg) rotateZ(90deg) rotateY(-90deg) rotateX(90deg) rotateZ(90deg) rotateY(-90deg)}
  }
  
